body, svg {
    font-family: 'Merriweather', serif;

}
/* Container div takes up the full width and height of its parent */
#container {
    display: flex;
    width: 100%;
    height: calc(100vh - 66px);
    overflow: hidden;
    background-color: #f1efe9;
}

/* The first child div takes up 100% width - 180px and 100% height */
#chartDiv {
    display: flex;
    align-items: center;      /* vertical centering */
    justify-content: center;  /* horizontal centering */
    width: 100%;
    height: calc(100vh - 66px);
    text-align: center;
}

.news-container {
    width: 100%;
    overflow: hidden;
    background: white;
    border: 0px solid #ccc;
    height: 4rem;
    position: relative;
    display: flex;
    align-items: center;
}

.news-ticker {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    will-change: transform;
    animation: scrollNews 12s linear infinite;
    color: #808080;
    font-size: 1rem;
    padding-left: 100%; /* Start from outside right */
}

@keyframes scrollNews {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}
